




/* mali deo za poziv */
.samoPoziv{
    background: linear-gradient(#222629);
  //  background-color: #222629;
    height: 250px;
    color: #fef9f8;

    .container{
        .items{
            height: 250px;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;

            .call{
                padding: 15px;
                margin-top: 25px;
                border-radius: 20px;
                background-color: #ef9273;
                color: #fef9f8;

                &:hover{
                    color: #ef9273;
                    background-color: #fef9f8;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (min-width: $tablet ) {

.samoPoziv{
    .container{
        .items{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            .text{
                width: 40%;
                font-size: 30px;
            }
            .call{
                margin-top: 0px;
                font-size: 25px;
            }
        }
    }
}



}















/* wrapper kontakt forma i mapa */


.wrapper-forma{
    margin: 30px 0px;
    
    .container{

        .items{
            border-top: 2px solid rgb(229, 183, 91);
            padding: 50px 0px;
            
            .wrapper-forma-forma{
                display: flex;
                flex-direction: column;
                padding-bottom: 30px;
        
                h3{
                    font-size: 30px;
                    text-align: center;
                    padding-bottom: 10px;
                }
        
                .form{   
                    
                    display: flex;
                    flex-direction: column;

                    input,textarea{
                      margin: 8px 0px;
                    //  border:  dashed gray;      
                      padding: 10px;
                      border: none;
                      border-bottom: 2px dashed black;
                    }
                    
                   
                    .btn-posalji{
                        max-width: 150px;
                        padding: 15px;
                      //  background-color: #ff7f00;
                        border: none;
                        color: black;
                        margin: 10px auto;
                        cursor: pointer;
                        font-size: 18px;
                        &:hover{
                            background-color: #ff7f00;
                          //  color: #ff7f00;
                          //  border: 1px solid #ff7f00;
                        }
                    }
                }     
            }
        
            .wrapper-maps{
                // bila klassa  wrapper-maps
                display: flex;
                justify-content: center;

            }
        }
    }

    
}


@media screen and (min-width: 768px) {
.wrapper-forma{
    .container{
        .items{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .wrapper-forma-forma{
                width: 40%;
            }
            .wrapper-maps{
                width: 58%;
            }
           }
       }
   }
}