

 // background: #88BDBC ;
// background-color: #ff921def; orange neka

.actionActive{
    width: 100% !important;
    transition: 5s ease !important;
}
.addColorBlac{
  //   background:linear-gradient(
  //       rgba(133, 131, 131, 0.4), 
  //       rgba(206, 235, 237, 0.5)
  //     ); 
    color: black !important;
}
.addBackColorBlac{
    background: black !important;
}


// only acti2 class
@media screen and (max-width: $laptop) {

.header{
    .container{
        .wrapper-header{
            .action2{
                display: none;
            }
        }
    }
}

}


//MOBILE


.header{
    @media screen and (max-width: $laptop) {
        background:linear-gradient(
            rgba(133, 131, 131, 0.4), 
            rgba(206, 235, 237, 0.5)
          ); 
    }
   
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 70px;
    @include flex(row, space-around, center,auto);

    .container{
        width: 90%;

        .wrapper-header{
            @include flex(row, space-around, center,auto);
         
            
         
             .action{
                 width: 0%;
                 height: 3px;
                 background-color: $orange;
                 position: absolute;
                 top: 0;
                 left: 0;
             }
                    
             .header-title{
                 @include flex(column, center, center,auto);
                .logo{
                    color: $orange;
                    font-size: 25px;
                    font-weight: 700;
                }
                 div{
                     display: flex;
                     font-size: 10px;
                 }   
         
             }
         
             .menuImage{
                min-width: 30px;

                 .closeIcon{
                     display: none;
                 }
                //  img{
                //     // width: auto;
                //      max-width: 30px;    
                // }
               
             }
         }
    }
}


@media screen and (min-width: $laptop) {

    .header{
        height: 80px;
        
        .container{
            .wrapper-header{

                //   background-color: blanchedalmond;
                  
                .action2{
                    width: 80%;
                    height: 1px;
                    margin: 0px auto;
                    top: 78px;
                    position: absolute;
                    background: white;
                }
                .header-title{
                    color: white;  
            
                }       
            
                .menuImage{
                    display: none;
                }
            
                .menu{   
                    display: block;
                               
                    ul{
                        @include flex(row, auto, auto,auto); 
                            
                        li{
                            a{
                                padding: 0px 10px;                          
                                color: white;
                                position: relative;
                                
                                &:hover{
                                    color: black; 
                                    span{
                                        width: 30px;
                                        transition: 1s ease;
                                    }
                                                    
                                }
                    
                                span{
                                    width: 0px;
                                    height: 2px;
                                    background-color: black;
                                    position: absolute;
                                    top: 30px;
                                    left: 10px;
                                    transition: width 1s;           
                                } 
                            } 
                        }
              
                    }
                }
            }

        }
    }
    

}

@media screen and (min-width: $large) {

    .header{
        .container{
            .wrapper-header{
                    .header-title{
                        .logo{
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    
}