   


// .rotate{
//    transform: rotateY(180deg) ;
//    transition: 3s ease;
// }


//    .wrapper-info{
//       margin: 40px 0px;
//       .container{

//          .info-title{
//             text-align: center;
//             font-size: 30px;
//             text-shadow: 2px 1px orange;
//             width: 80%;
//             margin: 0px auto;
//          }
//          .items{
          
//             .item{
            
//                max-width: 350px;
//                max-height: 350px;
//                margin: 10px auto;
//               &:hover{
//                  cursor: pointer;
//               }

//                .image{
//                   transition: 3s ease;
//                   position: relative;
//                  // filter: drop-shadow(2px 4px 6px black);
                  

//                   .item-image{
   
//                     filter: brightness(45%);
//                     border-radius: 120px;
//                   }
//                   .image-title{
//                      position: absolute;
//                      width: 80%;
//                      top: 30%;
//                      left: 10%;
//                      text-align: center;
//                      color: white;
//                      font-family: 'Spectral', serif;
//                    //  font-size: 20px;
//                   }
//                }

//                .drugaStrana{
//                   background: linear-gradient(rgba(56, 70, 120, 0.7), rgba(168, 197, 242, 0.7));            
//                   transition: 3s ease;

//                   height: 300px;
//                   border-radius: 120px;
//                   border:1px solid black;

//                   .input{
//                      transition: 3s ease;
//                      display: flex;
//                      flex-direction: column;
//                      justify-content: center;
//                      align-items: center;
//                      height: 100%;
//                      text-align: center;
//                      font-family: 'Edu QLD Beginner', cursive;
//                      &>p{
//                         padding: 10px 0px;
//                         font-size: 20px;
//                      }
//                   }
                  
//                }
              
              

//             }

//          }
//       }
//    }



// @media screen and (min-width: 789px) {

//    .wrapper-info{

//       .container{
//          .items{
//             display: flex;
//             width: 100%;

//             .item{
//                padding-bottom: 0px;
//                padding: 5px;
//                width: 32%;

//                .image{

//                   .item-image{
//                      height: 300px;
//                   }
//                }
//                .drugaStrana{
//                   height: 300px  ;
//                }

               

//             }
//          }
//       }
//    }

// }






///*****************************************//




//! sekcija sa menjane slika i teksta zajedno!

.btn-active{
   background: white;
   border-top: 5px solid #ff7f00 !important;
   color: #1E266D !important;
   font-weight: 700 !important;

}





.wrapper-changing{
   background:  #3A3D56;
   padding: 20px 0px;

   .container{
      .items{

         .text{
            text-align: center;
            padding: 40px 0px;
            color: white;
            
            p{
                padding: 18px 0px ;
             }
          
        }
     
     
        .items-3{
     
           .sadrzaj{
              display: none;
           } 
     
           .item{          
              padding: 20px 0px;
              background:  #FFFFFF;
              margin-bottom: 40px;
              @include flex(column, auto, center,auto);     
                
              .item-title{
               @include flex(column, auto, center,auto);

                  .title{
                     padding-bottom: 20px;
                     text-decoration: underline ;
                  }
     
                   .image{
                         max-width: 200px;
                         max-height: 200px; 

                         img{
                            border-radius: 30px;
                         }         
                    }             
               }
               .item-desc{
                  padding: 20px 0px;
                 
                  font-size: 20px;
                  >p{
                     
                     span{
                        float: right;
                        margin-left: 10px;
                     }
                  }
               }
                        
            }      
        }
     }

   }
}



@media screen and (min-width: $tablet ) {

.wrapper-changing{
   padding: 50px 0px;
   @include flex(column, flex-end, center,auto);

   .container{
      .items{
         @include flex(column, auto, center,auto);

         .text{
            width: 80%;  
         }
         
         .items-3{
            width: 100%;

            .sadrzaj{
               height: 50px;
               background-color: white;
               display: flex;
                   
               .btn-sadrzaj{
                  width: 33.33%;
                  text-align: center;
                  border: none;
                  border-right: 1px solid gray;
                  color:   #6B6E87;
                  // font-weight: 400;
                  font-size: 18px;                   
              }
            }

            .no-visible{
               display: none !important;
            }
         


            .item{
               @include flex(row, space-evenly, center,auto);
               padding: 50px 0px;
   
               .item-title{
                  padding: 0px;
                  .title{
                     display: none;
                  }
                  
                  .image{
                     width: auto;
                     height: auto;               
                  }

                  h1{
                     display: none;
                  }
               }
               .item-desc{
                  width: 250px;
                  box-shadow: 1px 1px 10px 1px black;
                  padding: 10px;
                  background: lightgrey;
               }
               
            }
         }
   
      }
   
     }
   }    
}