



//! sekcija sa menjane slika i teksta zajedno!

.btn-active{
   background: white;
   border-top: 5px solid #ff7f00 !important;
   color: #1E266D !important;
   font-weight: 700 !important;

}





.wrapper-changing{
 //  background:  #3A3D56;
   background: #f2f2f2;
   padding: 20px 0px;

   .container{
      .items{

         .text{
            text-align: center;
            padding: 40px 0px;
         //   color: white;
            
            p{
                padding: 18px 0px ;
             }
          
        }
     
     
        .items-3{
     
           .sadrzaj{
              display: none;
           } 
     
           .item{          
              padding: 20px 0px;
            //  background:  #FFFFFF;
            background: #c8d8e4;

              margin-bottom: 40px;
              @include flex(column, auto, center,auto);     
                
              .item-title{
               @include flex(column, auto, center,auto);

                  .title{
                     padding-bottom: 20px;
                     text-decoration: underline ;
                  }
     
                   .image{
                         max-width: 200px;
                         max-height: 200px; 

                         img{
                            border-radius: 30px;
                         }         
                    }             
               }
               .item-desc{
                  padding: 20px 0px;        
                 // font-size: 20px;
                  
                  >p{
                     padding: 2px 0px;
                     .oclock{
                        float: right;
                        margin-left: 10px;
                     }

                     /*novi deo */
                     // a{
                     //    float: right;
                     // }
                  }
               }
                        
            }      
        }
     }

   }
}



@media screen and (min-width: $tablet ) {

.wrapper-changing{
   padding: 50px 0px;
   @include flex(column, flex-end, center,auto);

   .container{
      .items{
         @include flex(column, auto, center,auto);

         .text{
            width: 80%;  
         }
         
         .items-3{
            width: 100%;

            .sadrzaj{
               height: 50px;
               background: #c8d8e4;

            //   background-color: white;
               display: flex;
                   
               .btn-sadrzaj{
                  width: 33.33%;
                  text-align: center;
                  border: none;
                  border-right: 1px solid gray;
                  color:   #6B6E87;
                  // font-weight: 400;
                  font-size: 18px;                   
              }
            }

            .no-visible{
               display: none !important;
            }
         


            .item{
               @include flex(row, space-evenly, center,auto);
               padding: 50px 0px;
   
               .item-title{
                  padding: 0px;
                  .title{
                     display: none;
                  }
                  
                  .image{
                     width: auto;
                     height: auto;               
                  }

                  h1{
                     display: none;
                  }
               }
               .item-desc{
                  width: 250px;
                  box-shadow: 7px 7px 0px 0px #2b6777;
                  padding: 10px;
                  background: #f2f2f2;
                  
               }

            }
         }
   
      }
   
     }
   }    
}