


/* strelice */

.itemActive{
    box-shadow: 0px 0px 10px rgb(191, 191, 191);
}

.oneArrow{
    transform:rotate(-45deg) translate(9px, 13px);
    width: 25px;
    height: 3px;
    background-color: orange;
}
.twoArrow{
    transform:rotate(45deg) ;
    width: 25px;
    height: 3px;;
    background-color: orange;
}
    

.oneAndTwoArrowsNew{
    transform: rotate(180deg);
    margin-top: 15px;
 //   margin-left: 44px;
}







.wrapper-usluge{
  //  background-color: #ffffff;
  background-color: #fef9f8;

    padding-top: 2rem;
    .containerService{

        .usluge-opis{
            text-align: center;
            
            .usluge-naslov{
                padding: 20px 0px;
            }
        }
                    
        .section-usluge{
         //   @include flex(column, center, auto,auto);
          //  margin: 100px auto;  
         
            .section-usluge_item{
                
                .itemActive{
                    .usluga{
                        background-color: white !important;
                    }
                }
                .section-usluga{        
                    margin: 110px auto;
                    padding: 4px;
        
                    .usluga{
                        @include flex(column, auto, center,auto);
                        padding: 20px;
                    
                  //    box-shadow: 0px 0px 10px rgb(191, 191, 191);    


                  //      box-shadow: 0px 0px 10px rgb(104, 104, 104);
                      //  border-radius: 10px;
                      //  background-color: hwb(0 98% 5%);
                        position: relative;
                      
                        &:hover{
                            background-color: white;
                            cursor: pointer;
                            box-shadow: 0px 0px 10px rgb(191, 191, 191);
            
                            h4:before{
                                width: 30%;
                            }
                            h4::after{
                                width: 70%;
                            }
                        }
                        
                        h4:before{
                            content: "";
                            position: absolute;
                            top: auto;
                            z-index: 1;
                            border: 0 solid white;
                            transition: width .1s;
                            transition-property: width;
                            transition-duration: 1s;
                            transition-timing-function: ease;
                            transition-delay: 0s;
                            
                        }
                        h4:before{
                            width: 90%;        
                            top: 135px;
                            left: 0;
                            border-right-width: 5px;
                            border-top-width: 5px;
                            border-top-color:  $orange;
                         //   border-top-color:#ff7f00;
                            
                        }
                        h4:after{
                            content: "";
                            position: absolute;
                            top: auto;
                            z-index: 1;
                            border: 0 solid white;
                            transition: width .1s;
                            transition-property: width;
                            transition-duration: 1s;
                            transition-timing-function: ease;
                            transition-delay: 0s;
                        }
                        h4:after{
                            width: 10%;
                            right: 0;
                            top: 130px;
                            border-left-width: 5px;
                            border-bottom-width: 5px;
                            border-bottom-color: rgb(71, 71, 76);
                        }
                        .wrapper-service_item-icon{
                            //max-width: 99px;
                            //max-height: 99px;
                            margin-top: -100px;
                            margin-bottom: 40px;

                            img{
                                border-radius: 100px;
                            }
                        }
            
                        .wrapper-service_item_text{
                            padding: 40px 0px;
                        }
            
                        .btn{
                        //   max-width: 50px;
                        //   max-height: 50px;
                          max-width: 30px;
                          max-height: 30px;
                          // background: white;
                           border: none;
                        
                            &:hover{
                                cursor: pointer;
                              
                            }
                            .oneAndTwoArrows{
                                // margin-left: -17px;
                                // margin-top: 19px;
                                margin: 20px 0px;
                            }
                        }
                        .vidljivo{
                            padding: 20px 0px;
                            .strelica{
                                float: right;
                                .oneAndTwoArrowsNew{
                                    margin: 20px 18px auto auto;
                                }
                                .smanjiText{
                                    margin-top: 5px;
                                }
                               
                            }

                        }  
                        
                    }
            }
        }
  }
 }         
}


@media screen and (min-width: $tablet ) {

.wrapper-usluge{
    //background-color: rebeccapurple;
    .containerService{

        .usluge-opis{
            text-align: center;
            width: 70%;
            margin: auto;
            
        }
        .section-usluge{

            flex-direction: column;
            margin: 80px 0px;

            .section-usluge_item{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .section-usluga{
                    margin: 50px auto;
                    width: 45%;
                }
            }
        }
    }  
}  
}


@media screen and (min-width: $large ) {

    .wrapper-usluge{
     //   background-color: red;
        .containerService{
            .section-usluge{
                display: flex;
                flex-direction: row;
                margin-top: 70px;
                padding: 30px;
                .section-usluge_item{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;

                    .section-usluga{
                        margin: 50px 10px;
                        width: auto;
                    }
                }
             
                
            }
        }  
    }  
}
