


.itemActive{
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px black;
    
}


.wrapper-usluge{
    padding-top: 2rem;
    .container{

        .usluge-opis{
            text-align: center;
            
            .usluge-naslov{
                padding: 20px 0px;
            }
        }

        .section-usluge{
            @include flex(column, center, auto,auto);
            margin: 40px auto;  
         
            .section-usluge_item{
                
                .itemActive{
                    .usluga{
                        background-color: white !important;
                    }
                }
                .section-usluga{        
                    margin: 20px auto;
                    padding: 4px;
        
                    .usluga{
                        @include flex(column, auto, center,auto);
                        padding: 20px;
                        box-shadow: 0px 0px 10px rgb(104, 104, 104);

                        border-radius: 10px;
                        background-color: hwb(0 98% 5%);
                        position: relative;
                        
                        &:hover{
                            background-color: white;
                            cursor: pointer;
            
            
                            h4:before{
                                width: 30%;
                            }
                            h4::after{
                                width: 70%;
                            }
                        }
                        
                        h4:before{
                            content: "";
                            position: absolute;
                            top: auto;
                            z-index: 1;
                            border: 0 solid white;
                            transition: width .1s;
                            transition-property: width;
                            transition-duration: 1s;
                            transition-timing-function: ease;
                            transition-delay: 0s;
                            
                        }
                        h4:before{
                            width: 90%;        
                            top: 135px;
                            left: 0;
                            border-right-width: 5px;
                            border-top-width: 5px;
                            border-top-color:#ff7f00;
                            
                        }
                        h4:after{
                            content: "";
                            position: absolute;
                            top: auto;
                            z-index: 1;
                            border: 0 solid white;
                            transition: width .1s;
                            transition-property: width;
                            transition-duration: 1s;
                            transition-timing-function: ease;
                            transition-delay: 0s;
                        }
                        h4:after{
                            width: 10%;
                            right: 0;
                            top: 130px;
                            border-left-width: 5px;
                            border-bottom-width: 5px;
                            border-bottom-color: rgb(71, 71, 76);
                        }
                        .wrapper-service_item-icon{
                            max-width: 99px;
                            max-height: 99px;
                        }
            
                        .wrapper-service_item_text{
                            padding: 40px 0px;
                        }
            
                        .btn{
                          max-width: 50px;
                          max-height: 50px;
                          // background: white;
                           border: none;
                        
                            &:hover{
                                cursor: pointer;
                              
                            }
                        }
                        
                    }
            }
        }
  }
 }         
}


@media screen and (min-width: $tablet ) {

.wrapper-usluge{

    .container{
        .section-usluge{

            flex-direction: row;
    
            .section-usluge_item{
    
                .section-usluga{
                    margin: 20px 10px;
                }
            }
            .item2{
                margin-top: 40px;
            }
            
        }
    }  
}  
}