// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@1,200&display=swap');
//  $font-family1: "Montserrat", sans-serif;
//  $font-family2: 'Spectral', serif;

// $font-family1Edu: '';

@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&family=Spectral:ital,wght@1,200&display=swap');
        // font-family: 'Edu QLD Beginner', cursive;
        // font-family: 'Spectral', serif;
        $font-familyEdu: 'Edu QLD Beginner', cursive;

        //
// Typography
//

// Family
//$font-default: 'Roboto',
//sans-serif;

// Size
$font-size: 16px;

// Weight
$normal: 400;
$bold: 700;

//Style
//$italic: italic;


//
// Colours
//
$orange :  #ff7f00;


$braon: #4F4A41;
$primary: #ef5480;
$pink: #febacd;
$secondary: #1e266d;
$dark-blue: #3a3d56;
$gray: #222438;
$dark-gray-text: #19191d;
$footer-background: #2b2c39;
$dark-footer-background: #1f202b;
$light-gray-text: #f0f0f3;
$white: #fff;
$acc-border: #a1a1a1;
$tab-border: #8d92b6;
$tab-btn-background: #e7e8ef;
$tab-btn-text: #6b6e87;
$link-color: #ff8aac;
$subscribe-bcg: #c2637e;
$tab-btn: #6b6e87;
$acc-link: #bbbbc6;
$list-gray: #78788f;


//Transition
// $transition: 0.35s ease;

//Media queries
$mobile: 600px;
$tablet: 768px;
$tabletMax: 769px;
$laptop: 992px;
$large: 1200px;
$largeMax: 1201px;
$xLarge: 1600px;
$xLargeMin: 1599px;