


// Size
// $font-size: 16px;

// Weight
// $normal: 400;
// $bold: 700;


//
// Colours
//
$orange :  #ff7f00;
$pinkWhite:   #fef9f8;
$pinkOrange: #ef9273;





//Transition
// $transition: 0.35s ease;

//Media queries
$mobile: 600px;
$tablet: 768px;
$tabletMax: 769px;
$laptop: 992px;
$large: 1200px;
$largeMax: 1201px;
$xLarge: 1600px;
$xLargeMin: 1599px;